<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>990940347121-50hu6fm11ah85alas27kc2v8ob1fcolg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.990940347121-50hu6fm11ah85alas27kc2v8ob1fcolg</string>
	<key>API_KEY</key>
	<string>AIzaSyDEWYDzGUGDF67JkcxtR17x9MC0pTazJHk</string>
	<key>GCM_SENDER_ID</key>
	<string>990940347121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gibbieyapsen.curbonapp</string>
	<key>PROJECT_ID</key>
	<string>curbontest1</string>
	<key>STORAGE_BUCKET</key>
	<string>curbontest1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:990940347121:ios:866f1ab0e332b65c2d4750</string>
	<key>DATABASE_URL</key>
	<string>https://curbontest1.firebaseio.com</string>
</dict>
</plist>